section.services
	.container
		.row.text-center
			.col-lg-10.col-lg-offset-1
				.bg-map
			.h2.page__title.page__title_white Услуги
			.container
				.row
					.services__item.col-md-4.col-sm-4
						.pop
							.pop__data(data-toggle="popover",
												data-trigger="hover",
												data-delay="300",
												data-placement="top",
												title="Грузоперевозки по городу – 400 р/ч*",
												data-content="Грузоперевозки по городу Ярославль. (*минимальный заказ 2 часа)")
								.pop__icon.icon.icon-gorod
								h4.pop__title Грузоперевозки по городу Ярославль

					.services__item.col-md-4.col-sm-4
						.pop
							.pop__data(data-toggle="popover",
												data-trigger="hover",
												data-delay="300",
												data-placement="top",
												title="Переезды – 950 р/час*",
												data-content="В стоимость услуги входит газель и 2 грузчика. (*минимальный заказ 2 часа)")
								.pop__icon.icon.icon-pereezdi
								h4.pop__title Квартирные, офисные и дачные переезды

					.services__item.col-md-4.col-sm-4
						.pop
							.pop__data(data-toggle="popover",
												data-trigger="hover",
												data-delay="300",
												data-placement="top",
												title="Межгород от 14 р/км*",
												data-content="Дополнительная точка по межгороду – 500 р. Простой на загрузке/разгрузке – 400 р/час. (*оплачивается в обе стороны)")
								.pop__icon.icon.icon-mezhgorod
								h4.pop__title Междугородние перевозки грузов

					.services__item.col-md-4
						.pop
							.pop__data(data-toggle="popover",
												data-trigger="hover",
												data-delay="300",
												data-placement="top",
												title="Грузчики от 250 р/час*",
												data-content="Опытные грузчики выполнят все поставленные задачи максимально быстро и предельно аккуратно. (*минимальный заказ 2 часа)")
								.pop__icon.icon.icon-gruzchiki
								h4.pop__title Услуги грузчиков

					.services__item.col-md-4
						.pop
							.pop__data(data-toggle="popover",
												data-trigger="hover",
												data-delay="300",
												data-placement="top",
												title="Экспедирование – 500 р",
												data-content="Комплекс мероприятий, связанных с сопровождением и доставкой груза до пункта назначения.")
								.pop__icon.icon.icon-expedirovanie
								h4.pop__title Экспедирование груза

#ss-prices.anchor